*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 1000px;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Salsa', cursive;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #2d333b;
    color: rgb(255, 255, 255);
}

.hamburger{
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 25px;
    display: none;
    cursor: pointer;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.logo-nav{
    font-size: 20px;
    cursor: pointer;
}

.nav-links{
    display: flex;
}

li{
    padding: 0 10px;
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.show-links{
    display: none;
    text-align: center;
    background-color: #2d333b;
    position: fixed;
    width: 200px;
    top:63px;
    right: 0;
}


@media (max-width: 750px) {
    .nav{
        padding: 20px;
        justify-content: space-between;
    }

    .nav-links{
        display: none;
    }

    .hamburger{
        display: flex;
    }

    li{
        padding: 10px;
    }

    .show-links{
        display: block;
    }
}